@model List<ApiMovieViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<style>
    tr:nth-child(odd) {
        background: #ffffff;
    }

    tr:nth-child(even) {
        background: #f5f5f5;
    }

    .table thead tr th {
        background: #a0522d;
        color: white !important;
    }
</style>

<h1>Api Top 100 Film Listesi</h1>
<br />
<table class="table table-striped tale table-hover text-center">
    <thead>
        <tr>
            <th>#</th>
            <th>Film Görseli</th>
            <th>Film Adı</th>
            <th>Imdb Puanı</th>
            <th>Yapım Yılı</th>
            <th>Fragman</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            
            <tr>
                <td>@item.Rank</td>
                <td>
                    <img class="rounded" src="@item.Image" width="100" height="150" /> 
                </td>
                <td class="text-center" style="zoom: 90%;"><b>@item.Title</b></td> 
                <td>@item.Rating</td>
                <td>@item.Year</td>
                <td>
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#youTubeModal" data-thevideo="@item.Trailer">
                        <i class='bx bx-movie-play'></i> &nbsp;
                        Fragman
                    </button>
                    @*<iframe height="500" width="auto" src=`https://www.youtube.com/embed/{@item.Trailer` frameborder="0" allowtransparency="true"></iframe>*@
                </td>
            </tr>
            
        }
    </tbody>
</table>


@*<div class="modal fade" id="youTubeModal" tabindex="-1" role="dialog" style="display:none" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <iframe height="500" width="auto" src="https://www.youtube.com/embed/" frameborder="0" allowtransparency="true"></iframe>
        </div>
    </div>
</div>*@

<script src="/AreaTheme/assets/js/ui-modals.js"></script>

